html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        title="Products"
        style(type="text/css").
            body {background-image: linear-gradient(to   right, rgb(212, 249, 250) , rgb(240, 245, 176)); }
                
            h1 { color: rgb(8, 156, 106); 
                 }
            table {color: rgb(8, 156, 106);
                   border: grey 2px solid;
                   border-radius: 3px; 
                   margin: 10px auto;}
            
            p {
                color: grey;
                font-size : 20px;

            }
    body
        block info
